.App-wrapper {
    background-color: #282c34;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    transition: background 2s ease;
}

[data-bg="5"],
[data-bg="6"],
[data-bg="7"],
[data-bg="8"],
[data-bg="9"],
[data-bg="10"],
[data-bg="11"] {
    background: url("./img/bg-morning.jpg") center 100% no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

[data-bg="12"],
[data-bg="13"],
[data-bg="14"],
[data-bg="15"],
[data-bg="16"],
[data-bg="17"] {
    background: url("./img/bd-day.jpg") center 100% no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    color: #333333;
}

[data-bg="18"],
[data-bg="19"],
[data-bg="20"],
[data-bg="21"] {
    background: url("./img/bd-evening.jpg") center 100% no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

[data-bg="22"],
[data-bg="23"],
[data-bg="24"],
[data-bg="0"],
[data-bg="1"],
[data-bg="2"],
[data-bg="3"],
[data-bg="4"] {
    background: url("./img/bg-night.jpg") center 100% no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.form-input {
    width: 500px;
    height: 40px;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    border: 6px solid #ddd;
    outline: none;
}

.form-button {
    height: 72px;
    font-size: 24px;
    font-weight: 500;
    background: #f7904c;
    color: #333333;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    transition: all 0.5s linear;
}

.form-button:hover {
    background: #dc732e;
}
.weather-details {
    width: 900px;
}
.weather-details-temp {
    font-size: 100px;
    font-weight: 500;
    padding: 20px;
    height: 100px;
    text-align: center;
    margin-bottom: 50px;
}
.weather-details-city {
    height: 50px;
    padding: 20px;
}
.weather-details-more {
    display: flex;
    margin: 20px;
    background: rgba(51, 51, 51, 0.6);
}
.weather-details-item {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}
.weather-bookmarks {
    padding: 20px 40px;
    flex-wrap: wrap;
    display: flex;
}
.weather-bookmark-item {
    padding: 10px 15px;
    background-color: white;
    color: #333333;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    border-radius: 30px;
}
.weather-bookmark-title {
    cursor: pointer;
    font-size: 22px;
}
.weather-bookmark-delete {
    margin-left: 15px;
    font-weight: bold;
    font-size: 30px;
    width: 31px;
    height: 31px;
    line-height: 26px;
    top: 0px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    background: #dddd;
    border-radius: 18px;
}

.weather-bookmark-delete:hover {
    background: #cccccc;
}

.error-msg {
    padding: 10px;
    font-size: 17px;
    color: #ffffff;
}

.btn {
    background: #f7904c;
    border: none;
    outline: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.btn:hover {
    background: #de7a38;
}
